
<nav class="navbar sticky-top navbar-expand-sm navbar-light bg-faded rounded bg-warning">
  <div class="container">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#opciones">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <!-- enlaces -->
    <div class="collapse navbar-collapse" id="opciones">   
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">{{ opcion1 }}</a>
        </li>
        <li class="nav-item" *ngIf="usuarioLog!=undefined">
          <a class="nav-link" routerLink="/galeria">{{ opcion2 }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" *ngIf="usuarioLog==undefined">{{ opcion3 }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/registro" *ngIf="usuarioLog==undefined">{{ opcion4 }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/acercade">{{ opcion5 }}</a>
        </li>
        <div *ngIf="usuarioLog!=null">
          <li class="nav-item">
            <a class="nav-link"routerLink="/perfil" >Usuario: {{usuarioLog.nick}}</a>
          </li>
        </div>
        <div *ngIf="usuarioLog!=undefined">
          <li class="nav-item">
            <a class="nav-link" href="" (click)="salir()">Salir</a>
          </li>
        </div>
      </ul>
    </div>
  </div>
</nav>